[submodule "Telegram/ThirdParty/libtgvoip"]
	path = Telegram/ThirdParty/libtgvoip
	url = git@github.com:telegramdesktop/libtgvoip.git
[submodule "Telegram/ThirdParty/GSL"]
	path = Telegram/ThirdParty/GSL
	url = git@github.com:Microsoft/GSL.git
[submodule "Telegram/ThirdParty/xxHash"]
	path = Telegram/ThirdParty/xxHash
	url = git@github.com:Cyan4973/xxHash.git
[submodule "Telegram/ThirdParty/rlottie"]
	path = Telegram/ThirdParty/rlottie
	url = git@github.com:desktop-app/rlottie.git
[submodule "Telegram/ThirdParty/lz4"]
	path = Telegram/ThirdParty/lz4
	url = git@github.com:lz4/lz4.git
[submodule "Telegram/lib_crl"]
	path = Telegram/lib_crl
	url = git@github.com:desktop-app/lib_crl.git
[submodule "Telegram/lib_rpl"]
	path = Telegram/lib_rpl
	url = git@github.com:desktop-app/lib_rpl.git
[submodule "Telegram/lib_base"]
	path = Telegram/lib_base
	url = git@github.com:desktop-app/lib_base.git
[submodule "Telegram/codegen"]
	path = Telegram/codegen
	url = git@github.com:desktop-app/codegen.git
[submodule "Telegram/lib_ui"]
	path = Telegram/lib_ui
	url = git@github.com:desktop-app/lib_ui.git
[submodule "Telegram/lib_lottie"]
	path = Telegram/lib_lottie
	url = git@github.com:desktop-app/lib_lottie.git
[submodule "Telegram/lib_tl"]
	path = Telegram/lib_tl
	url = git@github.com:desktop-app/lib_tl.git
[submodule "Telegram/lib_spellcheck"]
	path = Telegram/lib_spellcheck
	url = git@github.com:desktop-app/lib_spellcheck
[submodule "Telegram/lib_storage"]
	path = Telegram/lib_storage
	url = git@github.com:desktop-app/lib_storage.git
[submodule "cmake"]
	path = cmake
	url = git@github.com:desktop-app/cmake_helpers.git
[submodule "Telegram/ThirdParty/expected"]
	path = Telegram/ThirdParty/expected
	url = git@github.com:TartanLlama/expected
[submodule "Telegram/ThirdParty/QR"]
	path = Telegram/ThirdParty/QR
	url = git@github.com:nayuki/QR-Code-generator
[submodule "Telegram/lib_qr"]
	path = Telegram/lib_qr
	url = git@github.com:desktop-app/lib_qr.git
[submodule "Telegram/ThirdParty/hunspell"]
	path = Telegram/ThirdParty/hunspell
	url = git@github.com:hunspell/hunspell
[submodule "Telegram/ThirdParty/range-v3"]
	path = Telegram/ThirdParty/range-v3
	url = git@github.com:ericniebler/range-v3.git
[submodule "Telegram/ThirdParty/fcitx-qt5"]
	path = Telegram/ThirdParty/fcitx-qt5
	url = git@github.com:fcitx/fcitx-qt5.git
[submodule "Telegram/ThirdParty/nimf"]
	path = Telegram/ThirdParty/nimf
	url = git@github.com:hamonikr/nimf.git
[submodule "Telegram/ThirdParty/hime"]
	path = Telegram/ThirdParty/hime
	url = git@github.com:hime-ime/hime.git
[submodule "Telegram/ThirdParty/fcitx5-qt"]
	path = Telegram/ThirdParty/fcitx5-qt
	url = git@github.com:fcitx/fcitx5-qt.git
[submodule "Telegram/lib_webrtc"]
	path = Telegram/lib_webrtc
	url = git@github.com:desktop-app/lib_webrtc.git
[submodule "Telegram/ThirdParty/tgcalls"]
	path = Telegram/ThirdParty/tgcalls
	url = git@github.com:TelegramMessenger/tgcalls.git
[submodule "Telegram/lib_webview"]
	path = Telegram/lib_webview
	url = git@github.com:desktop-app/lib_webview.git
[submodule "Telegram/ThirdParty/jemalloc"]
	path = Telegram/ThirdParty/jemalloc
	url = git@github.com:jemalloc/jemalloc
[submodule "Telegram/ThirdParty/dispatch"]
	path = Telegram/ThirdParty/dispatch
	url = git@github.com:apple/swift-corelibs-libdispatch
[submodule "Telegram/ThirdParty/plasma-wayland-protocols"]
	path = Telegram/ThirdParty/plasma-wayland-protocols
	url = git@github.com:KDE/plasma-wayland-protocols.git
[submodule "Telegram/ThirdParty/wayland-protocols"]
	path = Telegram/ThirdParty/wayland-protocols
	url = git@github.com:gitlab-freedesktop-mirrors/wayland-protocols.git
[submodule "Telegram/ThirdParty/kimageformats"]
	path = Telegram/ThirdParty/kimageformats
	url = git@github.com:KDE/kimageformats.git
[submodule "Telegram/ThirdParty/kcoreaddons"]
	path = Telegram/ThirdParty/kcoreaddons
	url = git@github.com:KDE/kcoreaddons.git
